<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot Generator</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div id="container">
        <div class="navbar">
            <a href="/home">API Key</a>
            <a href="/question_sandbox">Question Sandbox</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
        <div id="card">
            <h1>Generate API Key</h1>
            <div id="responseArea"></div>
            <div class="loader-container">
                <div class="loader"></div>
            </div>
            <form id="sitemapForm">
                <label for="sitemap_url">Enter Sitemap URL:</label>
                <input type="text" id="sitemap_url" name="sitemap_url" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Including jQuery for simplicity -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#sitemapForm').submit(function(event) {
                event.preventDefault(); // Prevent the default form submission
                var formData = {
                    'sitemap_url': $('input[name=sitemap_url]').val()
                };

                // Show the loader and hide the form
                $('.loader-container').css('display', 'grid');
                $('#sitemapForm').css('display', 'none');

                $.ajax({
                    type: 'POST',
                    url: '/processSitemap',
                    data: formData,
                    dataType: 'json',
                    encode: true
                })
                .done(function(data) {
                $('.loader-container').css('display', 'none');
                $('#sitemapForm').css('display', 'block');
                // display generated API Key
                if (data && data.api_key) {
                    $('#responseArea').html("API Key: " + data.api_key, "Please save this in a safe space, you will not have access to this again.");
                } else {
                    $('#responseArea').html("API Key not found in the response.");
                }
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    $('.loader-container').css('display', 'none');
                    $('#sitemapForm').css('display', 'block');
                    $('#responseArea').html("Error: " + textStatus + " - " + errorThrown);
                });
            });
        });
    </script>
</body>
</html>
