<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot Generator</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div id="container">
        <div class="navbar">
            <a href="/">API Key</a>
            <a href="/question_sandbox">Question Sandbox</a>
        </div>
        <div id="card">
            <h1>Question Sandbox</h1>
            <div id="responseArea"></div>
            <div class="loader-container">
                <div class="loader"></div>
            </div>
            <form id="sitemapForm">
                <label for="api_key">Enter API key:</label>
                <input type="text" id="api_key" name="api_key" required>
                <label for="query">Enter Question:</label>
                <input type="text" id="query" name="query" required>
                
                <button type="submit">Ask Question</button>
            </form>
        </div>
    </div>

    <!-- Including jQuery for simplicity -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#sitemapForm').submit(function(event) {
                event.preventDefault(); // Prevent the default form submission
                var formData = {
                    'api_key': $('input[name=api_key]').val()
                    'query': $('input[name=query]').val()
                };

                // Show the loader and hide the form
                $('.loader-container').css('display', 'grid');
                $('#sitemapForm').css('display', 'none');

                $.ajax({
                    type: 'POST',
                    url: '/askQuestion',
                    data: raw,
                    dataType: 'json',
                    encode: true
                })
                .done(function(data) {
                    // Hide Loader | Show Form
                    $('.loader-container').css('display', 'none');
                    $('#sitemapForm').css('display', 'block');
                    $('#responseArea').html(JSON.stringify(data, null, 4)); // Pretty print the JSON
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    $('.loader-container').css('display', 'none');
                    $('#sitemapForm').css('display', 'block');
                    $('#responseArea').html("Error: " + textStatus + " - " + errorThrown);
                });
            });
        });
    </script>
</body>
</html>
