body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgb(209, 208, 223) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    position: fixed; /* Fixed at the top */
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #000000;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: rgb(218, 218, 218);
    color: black;
}

#container {
    width: 100%; /* Full width of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack content vertically */
    margin: 0; /* No additional margin needed */
    position: relative;
    height: calc(100vh - 80px); /* Full height minus the navbar */
    margin-top: 80px; /* Ensure content starts below navbar */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

#card {
    background-color: rgb(250, 251, 255);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #5c67f2;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4a54e1;
}
